<% title @book.title %>

<p><%= @book.thoughts %></p>

<br>
<% if @comments %>
  <h3>Comments</h3>

  <% for comment in @comments do %>
    <p><strong><%=h(comment.author) %></strong>: <%=h comment.text %>
  <% end %>

  <!-- to accommodate pagination: -->
  <%= will_paginate @comments %>
<% end %>

<br><br><br>
<h3>Post Your Comment</h3>
<%= form_for([@book, Comment.new]) do |f| %>
  <p><%= f.label :author %></p>
  <p><%= f.text_field(:author, size: 30) %></p>

  <p><%= f.label :text, 'Comment' %></p>
  <p><%= f.text_area(:text, cols: 40, rows: 15) %></p>

  <%= f.submit 'Save' %>
<% end %>

<br><br>
<p>
  Admin Actions:
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Delete', book_path(@book), :method => :delete, data: {:confirm => "Are you sure?"} %>
</p>
