<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<!-- show all comments with count -->
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<!-- if logged in, show new/delete/edit links -->
<% if logged_in? %>
  <!-- show comment form to create new comments -->
  <%= render partial: 'comments/form' %><br>

  <!-- link to delete article -->
  <%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %><br>

  <!-- link to edit article -->
  <%= link_to "edit", edit_article_path(@article) %>
<% end %>

<br>
<!-- link back to homepage -->
<%= link_to "<< Back to Articles List", articles_path %><br><br>
